# -------------------
# MacOS specific
# -------------------
.DS_Store
._*

# -------------------
# Node
# -------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------
# Build output
# -------------------
dist/
build/

# -------------------
# Environment variables
# -------------------
.env
.env.*
!.env.example

# -------------------
# Logs
# -------------------
logs
*.log
*.log.*
*.out
*.pid
*.seed
*.pid.lock

# -------------------
# Client specific
# -------------------
client/node_modules/
client/dist/

# -------------------
# Server specific
# -------------------
server/node_modules/
server/dist/
server/build/

# -------------------
# Editor settings
# -------------------
.vscode/
.idea/
*.swp
